
.rm{
  -ms-overflow-style: none;  /* Hides the scrollbar in Internet Explorer/Edge */
  scrollbar-width: none;  /* Hides the scrollbar in Firefox */
}

.singleAsset {
  align-items: center;
  background-color: transparent;
  flex: 1;
  padding: 10px;
  border-radius: 10px;cursor: pointer;
}
.singleAssetActive{
  align-items: center;
  flex: 1;
  padding: 10px;
  border-radius: 10px;cursor: pointer;
}

.singleAsset2{
  align-items: center;
  background-color: transparent;
  flex: 1;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;cursor: pointer;
}
.singleAsset:hover, .singleAssetActive, .singleAsset2:hover {
  background-color: #5a458f;
  color: white;
}

.my-modal {
  background-color: black ;
}
.r {
  color: red !important;
}
